#app-logo{height:50px;}
.skin-addo .navbar {
    background-color: #8cc428;
    color: rgba(255,255,255,0.84);
}

.skin-addo a.sidebar-toggle{color:#fff;}
.main-header{background-color:#eeeeee;}
.allocate-table img{max-height:80px;}
.allocate-table .row{padding:18px 0px;}
.allocate-table .table-allocate-inner{cursor: pointer;border: 1px solid rgba(0, 0, 0, 0.08);}
form#ad-hoc input[type="text"]{
	width: 100%;
    border: 2px solid rgba(150, 213, 38, 0.41);
    padding: 6px;
    border-radius: 2px;
}
form#ad-hoc input[type="submit"]{
	background-color: #96d526;
    margin: 10px auto;
    color: #fff;
    position: relative;
    padding: 4px 40px;
    border-radius: 100px;
    text-align: center;
    border: none;
}
#btn-tm{cursor:pointer;}
.toggle-table-management{display:none;border-bottom: 2px solid #c1c1c1;}
.crud-form input, select{
    width: 100%;
    padding: 5px 0px;
    border: 1px solid rgba(150, 213, 38, 0.32);
}
.form-r p{margin: 10px 0px 0px 0px;}
.checkbox-row{padding:5px 0px;}
.checkbox-row .checkbox .checkbox-material .check, label.checkbox-inline .checkbox-material .check {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(150, 213, 38);
    border-radius: 2px;
    overflow: hidden;
    z-index: 1;
}
.checkbox-row .checkbox .checkbox-material, label.checkbox-inline .checkbox-material {
padding: 5px!important;
}
.table-badge{
   position: absolute;
    /* top: 10px; */
    right: auto;
    background: #8cc428;
    text-align: center;
    /* border-radius: 30px 30px 30px 30px; */
    color: white;
    padding: 5px 10px;
    font-size: 10px;
}
.btn-open-orders{
	background-color: #96d526;
    margin: 10px auto;
    color: #fff;
    position: relative;
    padding: 4px 20px;
    border-radius: 100px;
    text-align: center;
    border: none;
}

.if-allocated{
	display:none;
}
.allocated .if-allocated{display:block;padding:6px 0px;color:red;font-weight: bold;}
.inner-module{max-width: 80%;
    border: 2px solid rgba(140, 196, 40, 0.2);
    margin: auto;
    /* background-color: rgba(140, 196, 40, 0.88); */
    padding: 25px 15px;
    }
@media screen and (max-width:600px){
	.content-wrapper{margin-top:25px;}
    .table-allocate-inner{margin:5px 0px;}
}
#quantity{max-width:50px;}
#quantity .form-group{margin:0;}
.left-bill{background-color: #fff;
    padding: 10px;
    overflow-x: hidden;
    height:450px;
}

.left-bill .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle;
}

.top-bar{padding:2px;}
.bottom-bill{
    bottom: 0;
    width: 100%;
    border-top: 2px solid black;
    background-color: #eeeeee;
    padding: 2px 5px;
}

table.tot{width:100%;}
table.tot td{text-align: right;}
table tr.totb{font-weight:bold;border-top:2px solid black;padding:10px 0px;}
.show-products{height:100%;}
.show-products .producttitle{text-align:center;}
.table-no {
    position: absolute;
    /* top: 10px; */
    right: 0;
    background: #000000;
    text-align: center;
    /* border-radius: 30px 30px 30px 30px; */
    color: white;
    padding: 5px 10px;
    font-size: 10px;
}
.padding-ul20{padding:20px 0px;}